body {
  background: radial-gradient(
    circle,
    rgb(232, 240, 254) 0%,
    rgb(255, 255, 255) 0%,
    rgb(232, 240, 254) 84%
  );
  font-family: "Encode Sans Expanded", sans-serif;
}
header {
  border-bottom: 1px solid #e8f0fe;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0;
}
footer {
  border-top: 1px solid #e8f0fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #534d87;
}
a {
  color: rgba(232, 99, 10, 0.8);
  font-weight: 500;
  text-decoration: none;
  transition: all 200ms ease;
}
a:hover {
  color: #e8630a;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(65, 50, 100, 0.4);
  border-radius: 16px;
}
.search-form-input {
  background: #e8f0fe;
  border: 1px solid #e8f0fe;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 16px;
}
.search-form-button {
  background: #3e386d;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #3e386d;
  margin-left: 5px;
  font-size: 16px;
  transition: all 200ms ease;
}
.search-form-button:hover {
  background: #e8f0fe;
  color: #3e386d;
  cursor: pointer;
  border: 1px solid #3e386d;
}
.weather-app-city {
  color: #3e386d;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  color: #3e386d;
  font-size: 16px;
  line-height: 20px;
}
.weather-app-details strong {
  color: #e8630a;
}
.weather-app-temperature {
  display: flex;
}
.temperature-icon {
  width: 110px;
  height: 110px;
}
.temperature-value {
  color: #3e386d;
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.temperature-unit {
  color: #3e386d;
  font-size: 28px;
  margin-top: 10px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.forecast-temperatures {
  font-size: 14px;
  text-align: center;
  color: #3e386d;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.forecast-temperature-high,
.forecast-temperature-low {
  padding: 5px;
}
.change-theme-button {
  display: block;
  margin: 10px auto;
  background: #3e386d;
  color: white;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #3e386d;
  font-size: 16px;
  transition: all 200ms ease;
}
.change-theme-button:hover {
  cursor: pointer;
  background: #e8f0fe;
  color: #3e386d;
  border: 1px solid #3e386d;
}
.dark {
  background: radial-gradient(
    circle,
    rgb(62, 56, 109) 0%,
    rgb(46, 43, 66) 0%,
    rgb(62, 56, 109) 84%
  );
}
.dark .weather-app {
  background: #6861a8;
  color: #e8f0fe;
}
.dark .search-form-input {
  background: #3e386d;
  color: #c0bce2;
}
.dark ::placeholder {
  color: #c0bce2;
}
.dark .search-form-button {
  background: #c0bce2;
  color: #3e386d;
  border: 1px solid #c0bce2;
  transition: all 200ms ease;
}
.dark .search-form-button:hover {
  background: #3e386d;
  color: #c0bce2;
  cursor: pointer;
  border: 1px solid #c0bce2;
}
.dark header {
  border-bottom: 1px solid #3e386d;
}
.dark .weather-app-city,
.dark .temperature-value,
.dark .temperature-unit {
  color: #e0def2;
}
.dark .weather-app-details,
.dark .forecast-temperatures {
  color: #e8f0fe;
}
.dark .weather-app-details strong {
  color: #f9c720;
}
.dark .change-theme-button {
  background: #c0bce2;
  color: #3e386d;
  border: 1px solid #c0bce2;
}
.dark .change-theme-button:hover {
  background: #3e386d;
  color: #c0bce2;
  border: 1px solid #c0bce2;
}

.dark footer {
  color: #e8f0fe;
  border-top: 1px solid #3e386d;
}
.dark a {
  color: rgba(249, 199, 32, 0.8);
  transition: all 200ms ease;
}
.dark a:hover {
  color: #f9c720;
}
@media (max-width: 400px) {
  h1 {
    font-size: 28px !important;
  }
  .weather-app-details {
    font-size: 14px;
  }
  .temperature-icon {
    width: 60px;
    height: 60px;
  }
  .temperature-value {
    font-size: 48px !important;
  }
  .forecast-icon {
    width: 56px;
    height: 56px;
  }
  .forecast-temperature-low {
    display: none;
  }
}
@media (max-width: 576px) {
  .weather-app {
    padding: 15px;
  }
  .search-form-input {
    padding: 10px 15px;
    font-size: 14px;
  }
  .search-form-button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
  }
  .forecast-icon {
    width: 66px;
    height: 66px;
  }
}
@media (max-width: 768px) {
  .temperature-value {
    font-size: 52px;
    line-height: 1;
  }
  .temperature-icon {
    width: 70px;
    height: 70px;
  }
  .temperature-unit {
    font-size: 24px;
  }
}
